<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>🐬타임리프 연습장🐬</h2><br>
메시지 : <span th:text="${msg}">여긴 text영역. 순수 html에만 표시.</span><br>
메시지2 : <b th:text="${msg2}">두번째 메시지</b><br><!-- 타임리프가 수행되면 "msg2", 안되면 "두번째메시지" -->
메시지2: <i>[[${msg2}]]</i><br><!-- 그냥 타임리프가 수행되는것만 -->
값 결합(+ 사용) : <span th:text="'난 궁금해 '+ ${msg2} + ' 누가 이길지'">문자열 더하기</span><br>
값 결합(리터럴 치환) : <span th:text="|궁금해 ${msg2} 누가 이길지|">|문자열| 형태 </span><br>
<br>
지역 변수 처리 :
<span th:with="kor=90, eng=80"><!-- th:with="변수명=값,.. " -->
	<span th:text="|${kor} + ${eng} = ${kor+eng}|">변수는 ${}내에서만 유효. 산술연산 +-*/</span>
</span> 
<br>
관계 연산 : <br>
<span th:text="3 >= 4"></span><br>
<span th:text="3 < 4"></span><br>
<span th:text="a >= b"></span><br>
<span th:text="a < b"></span><br>
<span th:text="3 >= 4"></span><br>
<span th:text="3 == 4"></span><br>
<span th:text="3 != 4"></span><br>
<span th:text="a == b"></span><br>
<span th:text="a != b"></span><br>
<hr>
조건연산(if, unless):
<span th:text="5 > 4?'크구나':'작네'">상항연산</span>
<br>
조건연산(true):
<span th:if="5 > 4">
	조건이 참일 때 수행(아니면 이부분출력되지않음)
</span>
<br>
<span th:unless="5 == 4">
	조건이 거짓일 때 수행
</span>
<br>
switch 조건문:
<div th:switch="${msg}">
	<b th:case="자바만세" th:text="|당연히 ${msg}|"></b>
	<i th:case="|타임리프 만세🤩|" th:text="|결국 ${msg}|"></i>
	<!-- 가운데 띄어쓰기가있으면 ||해줘야한다 -->
	<strong th:case="*">그 외 메시지구만🤔</strong>
</div>
<br>
상품 객체 출력 : 객체명.getter, 객체명['getter']<br>
<div th:text="${sangpum.code}"></div><!--여기서 code는 그냥코드가아닌 게터코드임을 잊지말자 -->
<div th:text="${sangpum['code']}"></div>
<div th:text="${sangpum.sang}"></div>
<div th:text="${sangpum.price}"></div>
<br>
객체 참조 기법 (th: object) : <br>
<div th:object="${sangpum}">
	<span th:text="*{code}">자식요소에서 *{필드명(정확힌 게터)}</span>
	<span th:text="*{sang}"></span>
	<span th:text="*{price}"></span>
	<span>[[*{price}]]</span>
	<span>[[*{['price']}]]</span>
</div>
<br>
<p th:text="${list[0]}"></p>
<p th:text="${list[1]}"></p>
반복 처리 : <br>
<table border="1">
	<tr>
	 <th>코드</th><th>품명</th><th>가격</th>
	</tr>
	<tr th:each="s:${list}">
		<td>[[${s.code}]]</td>
		<td>[[${s.sang}]]</td>
		<td>[[${s.price}]]</td>
	</tr>
</table>
</body>
</html>