<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/board.css">
</head>
<body>
<h3 style="text-align: center;">* 상세 보기 *</h3>
<table class="table">
  <tr>
  	<td style="text-align: right;">
  		<a th:href="@{/reply(num=${data.num},page=${page})}">
  			<img src="/images/reply.gif" />
  		</a>
  		<a th:href="@{/update(num=${data.num},page=${page})}">
  			<img src="/images/edit.gif" />
  		</a>
  		<a th:href="@{/delete(num=${data.num},page=${page})}">
  			<img src="/images/del.gif" />
  		</a>
  		<a th:href="@{/list(page=${page})}">
  			<img src="/images/list.gif" />
  		</a>
  	</td>
  </tr>
</table>

<th:block th:if="${data != null}">
	<table class="table">
	  <tr>
		<td>비밀번호 : [[${data.pass}]]</td>
	  	<td>
	  		작성자 : <a href="mailto:${data.mail}">[[${data.name}]]</a> 
	  		(ip : [[${data.bip}]])
	  	</td>
	  	<td>작성일 : [[${data.bdate}]]</td>
	  	<td>조회수 : [[${data.readcnt}]]</td>
	  </tr>
	  <tr>
	  	<td colspan="4">제목 : [[${data.title}]]</td>
	  </tr>
	  <tr>
	  	<td colspan="4">
	  		<textarea rows="5" style="width: 100%" readonly="readonly">[[${data.cont}]]</textarea>
	  	</td>
	  </tr>
	</table>
</th:block>
</body>
</html>
