<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/board.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script type="text/javascript">
window.onload = function(){
	document.querySelector("#btnReply").onclick = chk;	
}

function chk(){
	if(reFrm.name.value === ""){
		reFrm.name.focus();
		alert("작성자 이름을 입력하세요");
		return;
	}
	//입력자료 오류 검사 생략...
	
	reFrm.submit();
}
</script>
</head>
<body>
<h3 style="text-align: center;">* 댓글 쓰기 *</h3>
<th:block th:if="${data != null}">
<form action="reply" method="post" name="reFrm" th:object="${data}">
	<input type="hidden" th:field="*{num}">
	<input type="hidden" name="page" th:value="${page}">
	<input type="hidden" th:field="*{gnum}">
	<input type="hidden" th:field="*{onum}">
	<input type="hidden" th:field="*{nested}">
	<table style="width: 80%" class="table">
	<tr>
		<td>이 름</td>
		<td><input type="text" name="name"></td>
	</tr>
	<tr>
		<td>암 호</td>
		<td><input type="text" name="pass"></td>
	</tr>
	<tr>
		<td>이메일</td>
		<td><input type="text" name="mail"></td>
	</tr>
	<tr>
		<td>제 목</td>
		<td>
		    <!--  
		    참고 : th:value 속성은 일반적으로 사용자의 입력이 필요한 요소의 값을 설정하는 데 사용된다. 
		    입력 필드, 확인란, 라디오 버튼, 드롭다운과 같은 요소가 이 범주에 속한다.
			value 속성이 있는 모든 요소에서 표준 HTML value 속성 대신 이 속성을 사용할 수 있다.
			input th:name="email" type="email" th:value="${email}"
			-->
			<!-- 2글자만 출력
			<input type="text" style="width: 99%" name="title" 
					th:value="|RE:*{#strings.substring(title,0,2)}|" />
		    -->	
		    <!-- 4글자 이상의 제목인 경우에는 4글자 이하 출력 -->
			<input type="text" style="width: 100%" name="title" 
					th:value="|RE:*{#strings.length(title) > 4 ? #strings.substring(title,0,4) : title}|" />
		</td>
	</tr>
	<tr>
		<td>내용</td>
		<td><textarea rows="5" style="width: 100%" name="cont"></textarea></td>
	</tr>
	<tr>
		<td colspan="2" style="text-align: center;">
			<input type="button" value="완료" id="btnReply" /> 
			<input type="button" value="목록" th:onclick="|location.href='@{list(page=${page})}'|" />
		</td>
	</tr>
	</table>
</form>
</th:block>
</body>
</html>
