<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>public/vuerest.html</title>
<style type="text/css">
table {
	width: 90%; border-collapse:collapse;
}
th, td{
	border: 1px solid #ddd; padding: 8px;
}
th {
	background-color: pink;
}
</style>
<script src="https://unpkg.com/vue@3"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
<h2>회원정보</h2>
<table>
	<thead>
	  <tr>
	   <th>번호</th><th>이름</th><th>주소</th><th>수정/삭제</th>
	  </tr>
	</thead>
	<tbody>
	 <tr v-for="member in members" :key="member.num">
	  <td>{{member.num}}</td><td>{{member.name}}</td><td>{{member.addr}}</td>
	  <td>
		<button @click="selectMember(member)">수정</button>
		<button @click="deleteMember(member.num)">삭제</button>
	  </td>
	 </tr>
	</tbody>
</table>

<h2>회원 추가 또는 수정</h2>
<form @submit.prevent="saveMember">
	<input v-model="memberForm.name" placeholder="이름입력" required><br/>
	<input v-model="memberForm.addr" placeholder="주소입력" required><br/>
	<button type="submit">회원 {{memberForm.num?'수정':'추가'}}</button> 
	<!-- num값에 따라서 수정/ 추가가 보이게함 -->
</form>
</div>

<script type="text/javascript">
const {createApp, ref, onMounted} = Vue;

createApp({
	setup(){
		const members = ref([]);
		//반응형 데이터로 동작 : Vue컴포넌트에서 변경될때 자동추적됨. UI를 재렌더링함. 
		const memberForm = ref({num:null, name:'', addr:''});
		
		//자료를 읽는 비동기 함수 작성 
		const fetchNumbers = async() => {
			const response = await axios.get('/members');
			members.value = response.data;//const members = ref([]);의 members에 자료를 넣어준다
		};
		// 회원정보 저장 (수정 또는 추가)하는 비동기함수 
		const saveMember = async() => {
			if(memberForm.value.num){
				//memberForm.value.num값이 있으면 회원수정@Put 
				await axios.put(`/members/${memberForm.value.num}`, memberForm.value);
			}else{
				//memberForm.value.num값이 없으면 회원 추가@Post
				await axios.post('/members', memberForm.value);
			}		
			//위 작업 후 입력 자료 (폼) 지우기
			memberForm.value={num:null, name:'', addr:''};
			
			fetchNumbers(); //수정또는추가후 목록보기
		};
		
		// 회원 삭제 비동기 함수 @Delete
		const deleteMember = async(num) => {
			await axios.delete(`members/${num}`);
			fetchNumbers(); //삭제 후 목록보기
		};
		
		// 화면에 출력된 정보를 받으면된다. 회원정보목록의 수정버튼을 누르면, 하단에 칸에 뜨게된다.
		const selectMember = (member) => {
			memberForm.value =  {...member};
		}
		
		onMounted(fetchNumbers); //컴포넌트가 Mount되면 fetchNumbers 호출
		return {members, memberForm, saveMember, deleteMember, selectMember};
	}
	
}).mount('#app');
</script>
</body>
</html>