<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>🍋상품 자료 여러개🍋</h2>
<h3>if, switch, each 연습</h3>
<table border="1" >
	<tr>
	  <th>인덱스</th><th>아이디</th><th>상품명</th>
	</tr>
	<tr th:each="dto,status:${dtos}"> 
	 <td th:if="${status.odd}" th:text="홀수"></td><!-- 참이면 홀수 -->
	 <td th:unless="${status.odd}" th:text="짝수"></td><!-- 거짓이면 짝수 -->
	 <td th:text="${dto.id}"></td>
	 <td th:text="${dto.name}"></td>
	</tr>
</table>
<br>
<table border="1" >
	<tr>
	  <th>인덱스</th><th>인덱스</th><th>인덱스</th>
	</tr>
	<tr th:each="dto,status:${dtos}"> 
	 <td th:text="${status.index}"></td>
	 <td th:text="${status.count}"></td>
	 <td th:if="${status.odd}" th:text="홀수"></td>
	 <td th:if="${status.even}" th:text="짝수"></td>
	</tr>
</table>
<br>
<table border="1" >
	<tr>
	  <th>인덱스</th><th>아이디</th><th>상품명</th>
	</tr>
	<tr th:each="dto,status:${dtos}"> 
	 <td th:switch="${status.even}">
	 	<span th:case=true>짝수</span>
	 	<span th:case=false>홀수</span>
	 </td>
	 <td th:text="${dto.id}"></td>
	 <td th:text="${dto.name}"></td>
	</tr>
</table>
<hr>
<h3>링크 처리</h3>
<a href="/thleaf/ex1">show1로 이동</a><br>
<a th:href="@{/thleaf/ex1}">show1로 이동</a><br>
<a th:href="@{https://www.naver.com}">naver로 이동</a><br>
<a th:href="@{/thleaf/ex4(param1='토요일',param2='일요일')}">show4 이동</a><br>
<!-- 타임리프 템플릿을 쓸때는 괄호안에 적어주는게 관행. -->
</body>
</html>