<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>templates/gogek.html</title>
</head>
<body>
	<h3 th:text="|${data.jname} ${data.jik}님의 고객 리스트|">고객 리스트</h3>
	<br>
	<table border="1">
		<tr>
			<th>고객번호</th>
			<th>고객명</th>
			<th>나이</th>
			<th>성별</th>
			<th>전화</th>
		</tr>
		<tr th:each="gogek:${list}">
			<td th:text="${gogek.gno}">gno</td>
			<td th:text="${gogek.gname}">gname</td>
			<td th:text="${gogek.age}">age</td>
			<td th:text="${gogek.gender}">gender</td>
			<td th:text="${gogek.gtel}">gtel</td>
		</tr>
		<tr>
			<td colspan="5" th:text="|담당 고객 수 : ${listsize}|"></td>
		</tr>
	</table>
</body>
</html>