<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>Login(w/ security): integrated with DB</h2>
<form th:action="@{/auth/login}" method="post">
	<table>
		<tr>
		 <td>사원번호 : </td>
		 <td><input type="text" name="sabun" required="required"></td>
		</tr>
		<tr>
		 <td>사원이름 : </td>
		 <td><input type="text" name="irum" required="required"></td>
		</tr>
	
		<tr>
		 <td colspan="2" style="text-align: center;">
		 	<input type="submit" value="로그인">
		 </td>
		</tr>
	</table>
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
</form>
<div th:if="${param.error}">
	<p style="color: red">로그인 실패: 잘못된 id 또는 비밀번호입니다</p>
</div>
</body>
</html>