<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>💙🩵상품 목록(@MVC: DB4 JPA)🩵💙</h3>
<table border="1">
<th:block th:if="${datas.size > 0}">
		<tr>
			<th>번호</th>
			<th>코드</th>
			<th>품명</th>
			<th>수량</th>
			<th>단가</th>
		</tr>
		<tr th:each="data,numStatus:${datas}">
			<td th:text="${numStatus.index+1}">인덱스</td><!-- index+1= count -->
			<td th:text="${data.code}">코드 출력</td>
			<td>[[${data.sang}]]</td>
			<td>[[${data.su}]]</td>
			<!-- #numbers.formatInteger(표시해야할 값, 최소자릿수, 구분자) -->
			<td>[[${#numbers.formatInteger(data.dan, 3, 'COMMA')}]]</td>
		</tr>
		<tr>
			<td colspan="5">
			<form th:action="@{/search}" method="get">
			검색 상품명 : <input type="text" name="searchValue">
			<input type="submit" value="검색">
			</form>
		</tr>
		<tr>
			<td colspan="5" th:text="|건수 : ${datas.size}|">건수</td>
		</tr>
	</th:block>
</table>

</body>
</html>