<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>SESSION Login(w/o security): classic v.</h2>
<form th:action="@{/login}" method="post">
	<table>
		<tr>
		 <td>id : </td>
		 <td><input type="text" name="userid" value="ok"></td>
		</tr>
		<tr>
		 <td>pwd : </td>
		 <td><input type="password" name="password" value="123"></td>
		</tr>
	
		<tr>
		 <td colspan="2" style="text-align: center;">
		 	<input type="submit" value="로그인">
		 </td>
		</tr>
	</table>
</form>
<div style="color: red;">
	<th:block th:if="${error}">[[${error}]]</th:block>

</div>
</body>
</html>