<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>templates/list.html</title>
</head>
<body>
<h2>💚회원목록(@MVC JPA)💚</h2>
<a th:href="@{/insert}">추가</a>

<table border="1">

<tr>
	<th>번호</th><th>이름</th><th>주소</th><th>수정/삭제</th>
</tr>
<th:block th:if="${datas.size > 0}">
<tr th:each="data:${datas}"> <!-- datas가 가진값을 data로 하나씩 뽑아낸다 -->
	<td>[[${data.num}]]</td>
	<td>[[${data.name}]]</td>
	<td>[[${data.addr}]]</td>
	<td>
	<a th:href="@{/update(num=${data.num})}">수정/</a>
	<a th:href="@{/delete(num=${data.num})}">삭제</a>
	</td>
</tr>
</th:block>
</table>
<br>
<a th:href="@{/}">메인으로</a>
</body>
</html>