<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>JWT Login(w/o security): classic v.</h2>
<form th:action="@{/auth/login}" method="post">
	<table>
		<tr>
		 <td>id : </td>
		 <td><input type="text" name="userid" value="ok"></td>
		</tr>
		<tr>
		 <td>pwd : </td>
		 <td><input type="password" name="password" value="123"></td>
		</tr>
	
		<tr>
		 <td colspan="2" style="text-align: center;">
		 	<input type="submit" value="로그인">
		 </td>
		</tr>
	</table>
</form>
<div th:if="${param.error}">
	<p style="color: red">로그인 실패: 잘못된 id 또는 비밀번호입니다</p>
</div>
</body>
</html>