<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>templates/list.html</title>
</head>
<body>
<table border="1">
	<tr>
		<th>사  번</th>
		<th>사원명</th>
		<th>직  급</th>
		<th>연  봉</th>
		<th>평  가</th>
	</tr>
	<th:block th:if="${list.size > 0}">
		<tr th:each="data:${list}">
			<td th:text="${data.jikwon_no}">no</td>
			<td th:text="${data.jikwon_name}">name</td>
			<td th:text="${data.jikwon_jik}">jik</td>			
			<td th:text="${data.jikwon_pay}">pay</td>
			<td th:text="${data.jikwon_rating}">rating</td>
		</tr>
		<tr>
			<td colspan="5" th:text="|평균 연봉 : ${avg}|"></td>
		</tr>
	</th:block>
</table>
</body>
</html>